@import "variables.scss";
@import "mixins.scss";

#postdivrich {
  display: none;
}

#btn-add-module-modal {
  display: block;
  height: auto;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.acf-postbox {
  display: none !important;

  &.enabled, &.show {
    display: block !important;
  }
}
#TB_title {
  position: relative;
  width: 100%;
  z-index:2;
}
#TB_ajaxContent {
  @include box-sizing();
  z-index:1;
  padding: 29px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#TB_ajaxContent ul {
  @include box-sizing();
  position: relative;
  display: block;
  padding: 0 15px;
  width: 100%;
  overflow: auto;
}

#TB_ajaxContent .button {
  margin-bottom: 15px;
  
  &::last-child {
    margin-bottom: 0;
  }
}
#acf-acf_breadcrumbs {
  display: block !important;
}