@import "variables.scss";
@import "mixins.scss";

#logo-upload-btn {
	@include border-radius(10px);
	display: block;
	margin: 15px 0;
	height: 100px;
	line-height: 100px;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	border: 2px dashed #ccc;
}

#logo-upload-btn span {
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
}

#logo-upload-btn .logo-upload-ico {
	font-size: 18px;
}

#logo-upload-btn .logo-upload-txt {
	font-size: 16px;
	font-weight: 700;
}

#logo-result {
	display: inline-block;
	margin: 15px 0 0;
	width: 250px;
	padding: 5px;
	vertical-align: top;
	background: #fff;
	border: 1px solid #ddd;
}

#logo-img-wrp {
	display: block;
	overflow: hidden;
	background: #000;
	text-align: center;
	font-size: 0;
}

#logo-image {
	max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

#logo-cap-wrp {
	display: block;
	margin-top: 6px;
	background-color: #f5f5f5;
}

#logo-cap-wrp input {
	display: block;
	width: 100%;
	padding: 0 5px;
	margin: 0;
	line-height: 28px;
	font-size: 13px;
	background-color: #fff;
}

#logo-delete-btn {
	@include border-radius(0);
	width: 100%;
	margin-top: 6px;
}

#logo-save-btn {
	margin-top: 25px;
}
