/* ARCHIVES */
.mod-archives {
  background-color: $gray-200;
  padding: $spacer*3 0;
}
.mod-archives .mod-cards {
  padding: 0;
  background-color: transparent;
}
/* ARCHIVES */
.archives-title-wrp {
  background-color: $primary;
  text-align: center;
  color: $white;
}
.archives-title-wrp h1 {
  padding: 0;
  margin: 0 0 15px;
}
.archives-title-wrp small {
  color: rgba($white, .85);
}

