/* SINGLE */
.single-title-wrp {
  background-color: $primary;
  text-align: center;
  padding: 3 * $spacer 0;
  color: $white;
}
.single-title-wrp h1 {
  padding: 0;
  margin: 0 auto 5px;
  max-width: 750px;
}
.single-title-wrp small {
  color: rgba($white, .85);
  max-width: 5  50px;
}
.single-content-wrp {
  background-color: $gray-700;
}
.single-content-wrp .entry-content-wrp {
  min-height: 100%;
  margin-top: - $spacer;
}
.single-content-wrp .entry-content {
  @extend .clearfix;
  display: block;
  min-height: 100%;
  background-color: $white;
  padding: $spacer;
}
