/* INDEX */
.index-wrp {
  background-color: $gray-200;
  padding: $spacer*3 0;
}
.index-wrp .mod-cards {
  padding: 0;
  background-color: transparent;
}
.index-wrp .mod-aside {
	margin-top: 0;
}
.index-wrp .side {
	@include border-radius(0.3rem);
}
