@import "variables.scss";
@import "mixins.scss";

#fav-upload-btn {
	@include border-radius(10px);
	display: block;
	margin: 15px 0;
	height: 100px;
	line-height: 100px;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	border: 2px dashed #ccc;
}

#fav-upload-btn span {
	font-size: 0;
	display: inline-block;
	vertical-align: middle;
}

#fav-upload-btn .fav-upload-ico {
	font-size: 18px;
}

#fav-upload-btn .fav-upload-txt {
	font-size: 16px;
	font-weight: 700;
}

#fav-result {
	display: inline-block;
	margin: 15px 0 0;
	width: 250px;
	padding: 5px;
	vertical-align: top;
	background: #fff;
	border: 1px solid #ddd;
}

#fav-img-wrp {
	display: block;
	overflow: hidden;
	background: #000;
	text-align: center;
	font-size: 0;
}

#fav-image {
	max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

#fav-delete-btn {
	@include border-radius(0);
	width: 100%;
	margin-top: 6px;
}

#fav-save-btn {
	margin-top: 25px;
}
