/* SIDE WIDGET */
.mod-aside {
  min-height: 100%;
	padding: 0;
  
  .single-post & {
    margin-top: - $spacer;
  }
}
.mod-aside.side-left {
  padding-right: 0;
}
.mod-aside.side-right {
  padding-left: 0;
}
.mod-aside .side {
  @include border-radius(.3rem);
  @extend .clearfix;
  display: block;
  min-height: 100%;
  background-color: $white;
  // border: 1px solid rgba($black, 0.125);
  padding: $spacer;
  font-size: $f6;
}
.mod-aside .filter {
  display: block;
  padding: 0 0 $spacer;
}
.mod-aside .filter li {
  list-style-type: none;
}
.mod-aside h3 {
  @extend h6;
  @include border-radius();
  padding: $spacer/2;
  margin: 0 0 $spacer/4;
  background-color: $gray-200;
}
.mod-aside #widget-search-form input[type='text'] {
  @include border-radius(5px 0 0 5px);
  border-color: $gray-400;
  border-right: 0;
}
.mod-aside #widget-search-form button {
  @include border-radius( 0 5px 5px 0);
}
.mod-aside label,
.mod-aside .searchform > div label {
  display: none;
}
.mod-aside select {
  @extend .form-control;
}
