/* BTN */
.btn:focus,
.input:focus {
  outline: none;
  box-shadow: none;
}
.btn {
  cursor: pointer;
}

/* BADGES */
.badge-primary {
	@include transition();
}
.badge-primary:hover {
	background-color: darken($primary,10);
}
