/* CALENDAR WIDGET */
.widget_calendar {
  float: left;
}
#wp-calendar {
  width: 100%;
}
#wp-calendar caption {
  padding: $spacer/4 0 0;
  margin: 0;
  text-align: right;
  color: #333;
  font-size: $f7;
}
#wp-calendar thead {
  font-size: $f7;
}
#wp-calendar thead th {
  padding: 8px;
  text-align: center;
  background-color: $gray-100;
  border: 1px solid $gray-300;
}
#wp-calendar tbody {
  color: #aaa;
}
#wp-calendar tbody td {
  background: $white;
  border: 1px solid $gray-300;
  text-align: center;
  padding:8px;
}
#wp-calendar tbody .pad {
  background: none;
}
#wp-calendar tfoot td {
  padding: 8px;
}
#wp-calendar tfoot {
  display: none;
}
