/* CAROUSEL */
.mod-carousel .carousel-item img {
  display: block;
  width: 100%;
}
.mod-carousel .carousel-caption {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: auto;
  height: 100%;
  width: 100%;
  z-index: 10;
  padding: $spacer*5 0;
  color: #fff;
  text-align: center;
  background-color: rgba($black, .25);
}
.mod-carousel .carousel-caption .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 600px;
  margin: auto;
}
.mod-carousel .carousel-caption .container .title h3{
  @extend h1;
}
.mod-carousel .carousel-indicators {
  cursor: pointer;
}

/* CAROUSEL HERO */
.carousel-hero,
.carousel-hero .carousel,
.carousel-hero .carousel-inner,
.carousel-hero .carousel-item,
.carousel-hero .carousel-item-wrp {
  height: 100vh;
  overflow: hidden;
}
.carousel-hero .carousel-item img {
  @include center();
}

/* CAROUSEL LOADING */
.carousel-item-wrp.loading {
  @include opacity(0);
}
.carousel-item-wrp {
  @include opacity(1);
  @include transition('opacity 1s ease');
  position: relative;
  z-index: 1;
}
