/* CARDS */
.mod-cards {
  background-color: $gray-200;
  padding: $spacer*3 0;
}
.mod-cards .card-title {
  margin-bottom: 0;
  font-size: $f4;
  font-weight: 700;
}
.mod-cards .card-footer .btn {
  width: 100%;
}
.mod-cards .card {
  @include border-radius(.3rem);
}
.mod-cards .card-block {
    font-size: $f5;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}
.mod-cards .card-img-top {
    display: block;
    width: 100%;
    height: auto;
}
.mod-cards .card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}
.mod-cards .card-footer {
    font-size: $f5;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}
@for $i from 1 through 5 {
  @if $i < 3 {
    .mod-cards .cc-#{$i} {
      column-count: 1;
    }
    .mod-cards .cc-#{$i} .card-img-top {
      display: none;
    }
    .mod-cards .cc-#{$i} .card-footer .btn {
      width: auto;
    }
  }
  @if $i > 2  {
    .mod-cards .cc-#{$i} {
      column-count: 2;
    } 
  }
}
.card-columns .card:last-child {
	margin-bottom: 0;
}
