/* COMMENTS */
.mod-comments {
  background-color: $gray-600;
}
.mod-comments #comments {
  @extend .clearfix;
  @include box-shadow();
  display: block;
  padding: 30px;
  background-color: #f9f9f9;
}
.mod-comments #comments .title {
  @extend .clearfix;
}
.mod-comments #comments .title h2 {
  @extend h1;
  float: left;  
  padding: 0;
}
.mod-comments #comments .title p {
  display: inline-block;
  float: right;
}
.mod-comments #comments .commentlist {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.mod-comments #comments .commentlist > li {
  background-color: #fff;
  border: 1px solid $gray-300;
  padding: $spacer;
  margin: $spacer/2 0 0;
}
.mod-comments #respond {
  @extend .clearfix;
  @include box-shadow();
  display: block;
  padding: 30px;
  background-color: #f9f9f9;
}
.mod-comments #respond .title h2 {
  @extend h1;
  padding: 0;
}
.mod-comments #respond form {
  margin-top: 15px;
  background-color: transparent;
}
.mod-comments #respond form input[type='submit'] {
  margin-top: 15px;
}
.mod-comments #respond #commentform input[name='author'],
.mod-comments #respond #commentform input[name='email'],
.mod-comments #respond #commentform input[name='url'] {
  margin-bottom: 15px;
}
.mod-comments #comments h5 {
	font-size: $f5;
}
