/* CRUMBS */
.crumbs-wrp {
  background-color: darken($primary, 25%);
  padding: $spacer/2 0;
  font-size: $f7;
  color: $white;
}
.crumbs-wrp a {
  text-decoration: none;
  font-size: $f7;
  
  &:hover {
    color: $primary
  }
}