/* FOOTER */
footer {
  background-color: $gray-900;
  color: $white;
}
footer .footer-nav ul {
  margin-bottom: 0;
}
footer .footer-nav li {
  display: inline-block;
  list-style-type: none;
}
footer .footer-nav a {
  @extend .badge;
  @extend .badge-primary;
  font-weight: normal;
  text-decoration: none;
}
