/* FORM */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea,
input[type='text'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='email'] {
  @extend .form-control;
}

/* CONTACT */
.mod-contact {
	padding: 3 * $spacer 0;
	background-color: $gray-200;
}
.mod-contact .title-wrp {
	display: block;
	padding: 0;
	margin: 0 0 $spacer * 2;
	text-align: center;
}
.mod-contact .title-wrp h3 {
	padding: 0;
	margin: 0;
}
.mod-contact textarea {
	min-height: 150px;
}
.mod-contact button[type='submit'] {
	position: relative;
}
.mod-contact .alert {
	display: none;
	margin: $spacer 0 0;
}
.mod-contact .alert p {
	margin: 0;
}
.mod-contact .alert ul {
	margin-top: $spacer;
  padding: 0 $spacer;
}
.mod-contact .alert li {
	font-size: $f7;
}
.mod-contact .load {
  border-radius: 50%;
  animation: spin 2s linear infinite;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	display: none;
	border: 4px solid rgba($white, .5);
	border-top: 4px solid rgba($white, .9);
  width: 20px;
  height: 20px;
	margin-top: -10px;
	margin-left: -10px;
}
.mod-contact .text.hidden {
	@include opacity(0);
}
.mod-contact .alert.alert-success p {
	text-align: center;
}

/* SEARCH */
.search-title-wrp {
  background-color: $primary;
  text-align: center;
  color: $white;
}
.search-title-wrp h1 {
  padding: 0;
  margin: 0 0 15px;
}
.search-title-wrp small {
  color: rgba($white, .85);
}
.search-form .form-control {
  border-radius: .25rem 0 0 .25rem;
  border-color: $white;
  font-size: $f6;
}
.search-form .btn {
  border-radius: 0 .25rem .25rem 0;
  cursor: pointer;
  font-size: $f6;
}
.search-form {
  font-size: $f6;
}

/* PASSWORD */
.post-password-form {
  @extend .form-inline;
}
.post-password-form label {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}
.post-password-form input[type='password'] {
  @extend .form-control;
  margin: 0 $spacer/2 0 0;
}
.post-password-form input[type='submit'] {
  @extend .btn;
  @extend .btn-primary;
}