/* GALLERY */
.mc-gallery {
  display: block;
  font-size: 0;
}
.mc-gallery-list {
  display: block;
  padding: 0;
  margin: 0;
}
.mc-gallery li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 0;
  overflow: hidden;
}
.mc-gallery .thb {
  @include transition();
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: $black;
}
.mc-gallery .thb:hover {
  @include transform(scale(1.5));
  cursor: pointer;
}
.mc-gallery .textarea {
  display: none;
}
@for $i from 1 through 9 {
  .mc-gallery-col-#{$i} li {
    width: (100%/#{$i});
    padding-bottom: (100%/#{$i});
    
    @include breakpoint(md) {
      width: 25%;
      padding-bottom: 25%;
    }

    @include breakpoint(sm) {
      width: 50%;
      padding-bottom: 50%;
    }
  } 
}

/* GALLERY - MODAL */
#mc-modal .mcg-slideshow {
  display: block;
  position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
  text-align: center;
  font-size: 0;
	z-index: 2;  
}
#mc-modal .mcg-image {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;

  @include breakpoint(sm) {
    @include transform(translateY(-50%));
    position: relative;
    top: 50%;
    max-width: 100%;
  }
}
#mc-modal .info {
  width: 100%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;

  @include breakpoint(sm) {
    position: absolute;
    height: 50px;
    line-height: 50px;
    left: 0;
    top: 50%;
    margin-top: -25px;
  }
}
#mc-modal .info .ico {
  font-size: $f3;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  line-height: inherit;
  padding: 0;
}
#mc-modal .info .ico:hover {
  color: rgba($black, 0.8);
}
#mc-modal .info .ico.exit {
  @include breakpoint(sm) {
    position: fixed;
    right: 0;
    top: 0;
    font-size: $f4;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    color: #f5f5f5;
  }
}
#mc-modal .info .ico.sshow,
#mc-modal .info .ico.prev,
#mc-modal .info .ico.next {
  @include breakpoint(sm) {
    display: none;
  }
}
#mc-modal .transparent {
  position: absolute;
  top: 0;
  background: transparent;
  width: 50%;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  
  @include breakpoint(sm) {
    display: none;
  }
}
#mc-modal .transparent.left {
  text-align: left;
  left: 0;
}
#mc-modal .transparent.left i {
  left: $spacer * 2;
  opacity: 0;
}
#mc-modal .transparent.right {
  text-align: right;
  right: $spacer * 2;
}
#mc-modal .transparent.right i {
  right: 0;
  opacity: 0;
}
#mc-modal .transparent:hover i {
  opacity: 1;
}
#mc-modal .transparent i {
  @include transition();
  @include border-radius(100%);
  background-color: rgba($white, .75);
  position: absolute;
  top: 50%;
  margin-top: -20px;
  color: $primary;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: $f4;
}
#mc-modal .sshow {
  display: none;
}
#mc-modal .sshow.active {
  display: block;
}
#mc-modal .modal-body {
  padding: 0;
  background-color: $gray-700;
}
#mc-modal .modal-header {
  background-color: $gray-100;
}
#mc-modal .modal-footer {
  @include border-radius(0 0 4px 4px);
  display: block;
  justify-content: initial;
  background-color: $gray-100;
  font-size: $f7;
  text-align: left;
  border-top: 1px solid $gray-300;
}
