/* MAP */
.mod-map {
  display: block;
}
.mod-map .map-container {
  @include box-shadow();
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.mod-map .map-canvas {
  display: block;
  width: 100%;
  height: 500px;
}
.mod-map .map-marker {
  font-size: $f4;
}
.mod-map .info-box-container {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  color: $white;
  background-color: rgba($black,0.85);
  width: 280px;
  margin-left: -140px;
  text-align: center;
  font-size: $f5;

  &:after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 25px solid rgba($black,0.85);
    content: "";
  }
}
