/* MAILCHIMP */
.mod-newsletter {
  padding: $spacer*3 0;
  background-color: $gray-400;
}
.mod-newsletter form {
  display: inline-block;
}
.mod-newsletter h3 {
  margin-bottom: 0;
}
.mod-newsletter .title-wrp,
.mod-newsletter .form-wrp {
  text-align: center;
}
.mod-newsletter input[type=email]{
  display: inline-block;
/*  border-radius: .25rem 0 0 .25rem;*/
  border-color: $gray-500;
}
.mod-newsletter input[type=submit]{
  display: inline-block;
/*  border-radius: 0 .25rem .25rem 0;
*/  cursor: pointer;
}
.mod-newsletter .response {
  width: 300px;
  max-width: 100%;
  margin: $spacer auto 0;
  text-align: center;
}
