/* PAGINATION */
.pagination-wrp {
  position: relative;
  display: block;
  background-color: $gray-800;
	text-align: center;
	padding: $spacer*2 0;
}
.pagination-wrp .navigation {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0;
}
.pagination-wrp .page-numbers,
.pagination-wrp .current,
.pagination-wrp .dots {
  display: inline-block;
  vertical-align: middle;
}
.pagination-wrp .prev i {
  margin-right: 10px;
  padding-left: 0;
}
.pagination-wrp .next i {
  margin-left: 10px;
  padding-right: 0;
}
.pagination-wrp .page-numbers {
  margin: 0 $spacer/5;

  &:not(.next, .prev){
    @extend .btn;
    width: auto;

    &.current {
      @extend .btn-secondary;
      cursor: default;
    }

    &:not(.next, .prev, .current) {    
      @extend .btn-primary;
			width: auto;
    }
  }
}
.pagination-wrp a .arrow,
.pagination-wrp a .text {
	display: inline-block;
	vertical-align: middle;
}
.pagination-wrp a .text {
	@extend small;
}
.pagination-wrp a.prev .text {
	margin-left: $spacer/3;
} 
.pagination-wrp a.next .text {
	margin-right: $spacer/3;
} 
