/* SHARE */
.share-wrp {
	padding: $spacer*2 0;
  background-color: $gray-700;
} 
.share-wrp .share-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.share-wrp .share-list li {
  display: inline-block;
  vertical-align: middle;
}
.share-wrp .share-list a {
  @include border-radius(100%);
	@include transition();
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  margin-right: 10px;
  font-size: $f5;
  background-color: $primary;
  color: $white;

  &:focus,
  &:hover {
    background-color: darken($primary, 10%);
  }
}
.share-wrp .share-list .fa {
  line-height: inherit;
}
