/* TERMS */
.post-terms {
  @extend .clearfix;
  display: block;
  text-align: left;
}
.post-terms ul {
  list-style-type: none;
  padding: 0;
}
.post-terms a {
  float: left;
  margin: 0 $spacer/4 $spacer/4 0;
}
