/* TOPNAV */
.navbar-wrp {
  background-color: $black;
}
.navbar-wrp .navbar-brand {
	padding: 0;
}
.navbar-wrp .navbar-brand span {
  background-color: rgba(0,0,0,.5);
  border-radius: .25rem;
}
.navbar-wrp .navbar-brand,
.navbar-wrp .navbar-text {
  color: #eee;
}
.navbar-wrp .navbar-nav .nav-link {
  color: #eee;
  text-transform: uppercase;
  font-size: $f6;
}
.navbar-wrp .nav-item.active .nav-link,
.navbar-wrp .nav-item:hover .nav-link {
  color: $primary;
}
.navbar-wrp .navbar-nav .dropdown-menu .nav-link {
  color: #333;
  text-transform: none;
}
.navbar-wrp .dropdown-menu .nav-link.active,
.navbar-wrp .dropdown-menu .nav-link:hover {
  color: $primary;
  background-color: #f5f5f5;
}
.navbar-wrp .navbar-logo {
	max-height: 50px;
}
.navbar-wrp-utilities {
  display: flex;
  float: right;
  font-size: $f6;
}
.navbar-wrp-utilities .btn {
  font-size: $f6;
}
#navbar-account {
	margin-left: $spacer/2;
}
#navbar-cart {
	position: relative;
	margin-left: $spacer/2;
}
#navbar-cart .woo-cart-count {
	@include border-radius(8px);
	display: none;
	position: absolute;
	top: -8px;
	right: -8px;
	height: 16px;
  line-height: 16px;
	min-width: 15px;
	text-align: center;
	padding: 0 $spacer/3;
	background-color: $danger;
	color: $white;
	font-size: $f8;
	
	&.show {
		display: block;
	}
}
.has-carousel-hero .navbar-wrp {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .25);
  z-index: 999;
}
