/* TWITTER */
.mod-twitter {
  padding: 3 * $spacer 0;
  background-color: $white;
}
.mod-twitter .title-wrp {
	display: block;
	padding: 0;
	margin: 0 0 $spacer * 2;
	text-align: center;
}
.mod-twitter .title-wrp h3,
.mod-twitter .title-wrp i {
  display: inline-block;
	padding: 0;
	margin: 0;
}
.mod-twitter .title-wrp i {
  padding-right: .5rem;
  color: $blue;
}
.mod-twitter .tweet-list {
  list-style-type: none;
  max-width: 600px;
  display: block;
  margin: auto;
}
.tweet-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 2rem;
}
.tweet-item .fa-quote-left {
  font-size: $f2;
  color: $gray-200;
  margin-right: 1rem;
}
.tweet-text p {
  margin: 0;
  padding: 0;
}