.woo-wrp {
  background-color: $gray-100;
  padding: $spacer*3 0 0;
}
.woo-check-wrp {
  background-color: $white;
  padding: $spacer*3 0;
}
.woocommerce {
  display: block;
  width: 100%;
}
.woo.col-1, .woo.col-2 {
  max-width: none;
  flex: none;
}

.woocommerce-result-count {
  float: right;
}
.woocommerce .woocommerce-ordering {
  margin-left: auto;
}
.woocommerce .woocommerce-ordering select {
  @extend .form-control;
}

/* WOO INPUT TEXT */
.woocommerce input[type='text'],
.woocommerce input[type='number'],
.woocommerce input[type='password'],
.woocommerce input[type='email'],
.woocommerce input[type='tel'] {
  padding: 0.375rem 0.75rem !important;
}

/* WOO BUTTON */
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button.alt.single_add_to_cart_button
{
  @extend .btn;
  @extend .btn-primary;
}

.woocommerce #respond input#submit
{
  @extend .btn;
  @extend .btn-secondary;
}

.woocommerce a.added_to_cart 
{
  @extend .btn;
  @extend .btn-success;
  margin-top: 5px;
  width: 100%;
}

.woocommerce a.button.loading::after, 
.woocommerce button.button.loading::after, 
.woocommerce input.button.loading::after, 
.woocommerce #respond input#submit.loading::after {
  top: 7px;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled]
{
  @extend .btn-primary;
  @extend .disabled;
  padding: 0.375rem 0.75rem;
  color: $white;
}

/* WOO ON SALE */
.woocommerce span.onsale {
  background-color: $danger;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

/* WOO MESSAGE */
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
  @include border-radius();
  display: block;
  width: 100%;
  border: 1px solid $gray-200;
  padding: $spacer;
  padding-left: $spacer*3;
  margin-bottom: $spacer;
}

/* WOO PAGINATION */
.woocommerce nav.woocommerce-pagination {
  position: relative;
  display: block;
  background-color: $gray-800;
  text-align: center;
  padding: $spacer*2 0;

  &:after, &:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    content:'';
    background-color: $gray-800;
  }

  &:before {
    right: 100%;
    left: auto;
  }
}
.woocommerce nav.woocommerce-pagination ul.page-numbers {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0;
  border: 0;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  margin: 0 $spacer/5;
  border: 0;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li span {
  margin: 0;
  @extend .btn;

  &.current {
    @extend .btn-secondary;
    cursor: default;
  }
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li a {
  margin: 0;
  @extend .btn;
  @extend .btn-primary;
}

/* WOO PRODUCT LIST */
.woocommerce.post-type-archive-product .page-title {
  display: none;
}
.woocommerce .woocommerce-result-count {
  @extend small;
  @include border-radius();
  border: 1px solid $gray-300;
  line-height: 38px;
  background-color: $white;
  padding: 0 $spacer;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  @include border-radius();
  padding: $spacer;
  position: relative;
  background-color: $white;
  border: 1px solid $gray-300;
}
.woocommerce ul.products li.product a.woocommerce-LoopProduct-link {
  display: block;
  position: relative;
  margin-top: -$spacer;
  margin-left: -$spacer;
  margin-right: -$spacer;
  margin-bottom: $spacer;
  padding-bottom: $spacer;
  border-bottom: 1px solid $gray-300;
}
.woocommerce ul.products li.product a img.attachment-woocommerce_thumbnail {
  @include border-radius(5px 5px 0 0);
  margin: 0;
}
.woocommerce ul.products li.product .onsale {
  right: -10px;
  top: -10px;
  margin: 0;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  margin: $spacer 0 0;
  padding: 0 $spacer;
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  color: $black;
}
.woocommerce ul.products li.product .price {
  @extend small;
  margin: 0;
  padding: 0 $spacer;
  color: $primary;
}
.woocommerce ul.products li.product .button {
  max-width: 100%;
  width: 100%;
  margin-top: 0;
  overflow: hidden;
}

/* WOO PAGE PRODUCT DETAIL */
.woocommerce.single-product .woo-content {
  background-color: $white;
  padding-top: $spacer;
  margin-bottom: $spacer*3;
}
.woocommerce.single-product .product .product_title {
  display: block;
  font-size: 26px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  font-weight: 700;
}
.woocommerce.single-product .product p.price,
.woocommerce.single-product .product span.price {
  color: $primary;
}
.woocommerce.single-product .product form.cart {
  background-color: $gray-100;
  padding: $spacer;
  margin-bottom: $spacer;
}
.woocommerce.single-product .product form.cart div.quantity {
  display: block;
  margin-bottom: $spacer;
  padding-bottom: $spacer;
  width: 100%;
  border-bottom: 1px solid $gray-200;
}
.woocommerce.single-product .product form.cart div.quantity .screen-reader-text {
  position: relative !important;
  display: block;
  width: auto;
  height: auto;
  font-size: 80%;

  &:after {
    content:':';
  }
}
.woocommerce.single-product .product form.cart div.quantity input[type='number'] {
  @extend .form-control;
  display: inline-block;
  width: 80px;
}
.woocommerce.single-product .product form.cart .variations select {
  @extend .form-control;
}
.woocommerce.single-product .product form.cart .button {
  @extend .btn-success;
  @extend .btn-lg;
  @extend .btn-block;
  font-weight: 700;
}
.woocommerce.single-product .product form.cart .variations {
  border-bottom: 1px solid $gray-200;
}
.woocommerce.single-product .product form.cart .variations label {
  font-size: 80%;
  font-weight: normal;
}
.woocommerce.single-product .product .product_meta > span {
  display: block;
  margin-top: $spacer;
}
.woocommerce.single-product .product .product_meta .label {
  display: block;
  font-size: 80%;
}
.woocommerce.single-product .product .product_meta a {
  @extend .badge;
  @extend .badge-primary;
}
.woocommerce.single-product .product .product_meta .sku_wrapper .sku {
  @extend .badge;
  @extend .badge-secondary;
  cursor: default;
}
.woocommerce.single-product .product form.cart div.quantity .screen-reader-text {
  text-align: left;
}
.woocommerce.single-product .product form.cart table {
  width: 100%;
  margin-bottom: $spacer;
}
.woocommerce.single-product .product form.cart table tr {
  border-bottom: 1px solid $gray-200;
}
.woocommerce.single-product .product form.cart table td {
  padding-top: $spacer !important;
  padding-bottom: $spacer !important;
}
.woocommerce.single-product .product form.cart table div.quantity label.screen-reader-text {
  display: none;
}
.woocommerce.single-product .product form.cart table div.quantity {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.woocommerce.single-product .product .woocommerce-grouped-product-list-item__label label a {
  @extend .badge;
  @extend .badge-primary;
}
.woocommerce.single-product .product .woocommerce-grouped-product-list-item__price {
  text-align: right;
}
.woocommerce.single-product .product .woocommerce-variation-description {
  margin-bottom: $spacer;
  border-bottom: 1px solid $gray-300;
}
.woocommerce.single-product .product .woocommerce-variation-price {
  margin-bottom: $spacer;
  padding-bottom: $spacer;
  border-bottom: 1px solid $gray-300;
}

/* WOO PAGE CART */
.woocommerce-cart .woo-cart-wrp {
  background-color: $gray-100;
  padding: $spacer*3 0;
}
.woocommerce-cart .woo-cart-wrp .woocommerce {
  background-color: $white;
  padding: $spacer;
}
.woocommerce-cart .quantity input[type="number"] {
  @extend .form-control;
  width: 60px;
}
.woocommerce-cart .coupon {
  @extend .form-inline;
  font-size: 1rem;
}
.woocommerce-cart .coupon input[type='text'] {
  @extend .form-control;
  min-width: 150px;
}
.woocommerce-cart div.wc-proceed-to-checkout {
  padding: $spacer 0 0;
}
.woocommerce-cart div.wc-proceed-to-checkout a.checkout-button {
  @extend .btn-success;
  @extend .btn-lg;
  @extend .btn-block;
  font-weight: 700;
  margin: 0;
}
.woocommerce-cart .cart_totals {
  margin-top: $spacer;
}
.woocommerce-cart table.shop_table {
  margin: 0;
}
.woocommerce-cart table.shop_table.cart tr:last-child td {
  padding: 12px;
  background-color: $gray-100;
}
.woocommerce-cart .cart-collaterals .cart_totals,
.woocommerce-cart .cart-collaterals .cart_totals {
  width: 100%;
}
.woocommerce-cart .cart-collaterals .cart_totals h2 {
  @extend h3;
  @include border-radius();
  display: block;
  color: $white;
  background-color: darken($primary, 10);
  padding: $spacer/2 $spacer;
  margin: 0 0 $spacer;
  font-weight: 400;
}
.woocommerce-cart #add_payment_method .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table {
  margin: 0;
}
.woocommerce-cart a.remove {
  line-height: .9;
}

/* WOO CHECKOUT*/
.woocommerce-checkout .woo-check-wrp {
  background-color: $gray-100;
  padding: $spacer*3 0;
}
.woocommerce-checkout .woo-check-wrp .woocommerce {
  background-color: $white;
  padding: $spacer;
}
.woocommerce-checkout .col2-set .col-1,
.woocommerce-checkout .col2-set .col-2 {
  max-width: none;
  flex: none;
  width: 100%;
  padding: 0;
  float: left;
}
.woocommerce-checkout .col2-set .col-2 {
  margin-top: $spacer;
}
.woocommerce-checkout form .form-row {
  @extend .clearfix;
  padding: $spacer 0 0;
  margin: 0;
}
.woocommerce-checkout form #billing_address_2_field {
  padding-top: 5px;
}
.woocommerce-checkout form #billing_country_field {
  min-height: 65px;
}
.woocommerce-checkout form .form-row label {
  @extend small;
  line-height: 1;
  margin-bottom: $spacer/3;
}
.woocommerce-checkout .woo-check-wrp h3 {
  @include border-radius();
  display: block;
  color: $white;
  background-color: darken($primary, 10);
  padding: $spacer/2 $spacer;
  margin: 0;
  font-weight: 400;
}
.woocommerce-checkout .select2-container--default,
.woocommerce-checkout .select2-selection--single {
  border-color: $gray-400;
  height: 32px;
  line-height: 32px;
}
.woocommerce-checkout .select2-dropdown {
  border-color: $gray-400;
}
.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}
.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
}
.woocommerce-checkout #order_review_heading {
  margin: $spacer 0;
}
.woocommerce-checkout .woocommerce-checkout-payment {
  margin-top: $spacer;
}
.woocommerce-checkout #payment .terms,
.woocommerce-checkout #payment .wc-terms-and-conditions,
.woocommerce-checkout #payment .terms,
.woocommerce-checkout #payment .wc-terms-and-conditions {
  width: 100%;
  padding: 0;
  margin: 0 0 $spacer;
}
.woocommerce-checkout button.button.alt {
  @extend .btn-success;
  @extend .btn-lg;
  @extend .btn-block;
  font-weight: 700;
}
.woocommerce-checkout .checkout_coupon .form-row {
  padding: 0;
}
.woocommerce-checkout .checkout_coupon #coupon_code {
  line-height: 24px;
}
