html, body {
  background-color: $black;
  position: relative;
  height: 100%;
}
html * {
  @include box-sizing();
}
body {
  overflow-x: hidden;
  font-size: $f5;
}
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}
html.is-animating .transition-fade {
  opacity: 0;
}