// FONT SIZE
h1 {
  font-size: $f1;
}
h2 {
  font-size: $f2;
}
h3 {
  font-size: $f3;
}
h4 {
  font-size: $f4;
}
h5 {
  font-size: $f5;
}
h6 {
  font-size: $f6;
}
p,a {
  font-size: $f5;
}
label {
  font-size: $f7;
}
input,button {
  font-size: $f5;
}
small {
  font-size: $f7;
}

// LINE HEIGHT
h1,h2,h3,h4 {
  line-height: 1.2;
}
h5,h6,p,a {
  line-height: 1.5;
}
