// COLORS
$white: #fff !default;
$black: #000 !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

// SPACING
$spacer: 1rem;

// MEDIAQUERY
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// FONTSIZE
$f0: 6rem;     // 96px
$f1: 3rem;     // 48px
$f2: 2.25rem;  // 36px
$f3: 1.5rem;   // 24px
$f4: 1.25rem;  // 20px
$f5: 1rem;     // 16px
$f6: 0.875rem; // 14px
$f7: 0.625rem; // 10px
$f8: 0.5rem;   //  8px
